* {
    /* border: red solid 1px; */
    box-sizing: border-box;
    color: #00faff;
    font-size: 23px;
    
}
body {
    display: flex;
    justify-content: center;
    background-color: black;
}
#calculator{
    background-color: #0f0f1b;
    padding: 15px;
    border-radius: 8px;

    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 700px;
    align-self: center;
}
.main {
    display: flex;
    flex: 1;
    gap: 5px;
}

.numbers {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.operators {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.row{
    display: flex;
    flex: 1;
}

button {
    flex: 1;
    aspect-ratio: 1 / 1;
    background-color: #0f0f1b;
    /* border: solid #ff00c8 1px;
    border-radius: 6px; */
    
    
    margin: 5px;
}

#clear , #plus {
    aspect-ratio: 3/1;
    background-color: #1a1a2e;
} 



.screen {
display: flex;
 border: solid #ff00c8 1px;
flex: 1;
min-height: 100px;

/* max-width: auto; */
border-radius: 10px;


font-size: 35px;
padding: 5px;
margin: 5px;
justify-content: end;
align-items: center;
}
